<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/forget-password" >
        <label for="username">Enter your registerd email address</label>
        <input name="username" type="text" placeholder="EmailAddress" id="username">
        <input type="submit" value="RESET PASSWORD">
    </form>
    <% if(error) {%> 
        <h1><%= error %> </h1>
    <% } %> 
</body>
</html>