<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>The password has to be</h2>
        <br>
        <ol>
            <li>Minimum 8 char long</li>
            <li>ONe Uppercase letter at least</li>
            <li>One lowercase letter at least</li>
            <li>One Number</li>            
        </ol>
    </div>
    <form method="post" action="/reset-password/<%= username %>" id="pass-reset" onsubmit="return valadation()">
        <input required type="password" name="password" id="pass" placeholder="New Passoword">
        <input required type="password" name="con_password" id="con-pass" placeholder="Confirm Password">
        <input type="submit" value="update password" id="upd-pass">
    </form>

    <% if(error) {%> 
        <h1><%= error %> </h1>
    <% } %>

    <script src="/reset-password.js"></script>
</body>
</html>